@import url('https://fonts.googleapis.com/css2?family=Judson&family=Quando&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 h2 h3 h4 {
    font-family: Quando, Helvetica, sans-serif;
    letter-spacing: 4px;
}

body {
    font-family: Judson, Helvetica, sans-serif;
}

/* Logo and navigation bar */

h1 {
    letter-spacing: 4px;
}
h1 a {
    text-decoration: none;
}
.logo-menu {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    
    
}
.menu li{
   list-style-type: none;
   padding: 0 30px;
   letter-spacing: 3px; 
}

.menu li:hover {
    transform: scale(1.1);
}

.menu a {
    text-decoration: none;
    color: #000;
}