@import url('https://fonts.googleapis.com/css2?family=Judson&family=Quando&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3, h4 {
    font-family: Quando, Helvetica, sans-serif;
    letter-spacing: 4px;
    
}

body {
    font-family: Judson, Helvetica, sans-serif;
    font-size: 20px;
}

/* Logo and navigation bar */

h1 {
    margin-bottom: 30px;
    letter-spacing: 4px;
    font-size: 250%;
    text-transform: uppercase;
}
h1 a {
    text-decoration: none;
}
.logo-menu {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    
    
}
.menu li{
   list-style-type: none;
   padding: 0 20px;
   letter-spacing: 3px; 
}

.menu li:hover {
    transform: scale(1.1);
}

.menu a {
    text-decoration: none;
    color: #000;
}

 /* About-us page */

.about-us {
    display: flex;
    justify-content: space-between;
}
.ethos h2 {
    text-align: center;
    padding: 30px;
}
.ethos {
    width: 100%;
    border-radius: 0 30px 30px 0;
    background-color: rgb(179, 128, 226);
}
.ethos li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 30px;
    padding: 15px;
    border-radius: 30px;
    list-style-position: inside;
    background-color: #537c53;
    color: white;
    
}
.about-us-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}

.quote {
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 150%;
}

aside {
    height: fit-content;
    padding: 30px;
    line-height: 30px;
    border-radius: 30px 0 0 30px;
    background-color: rgb(179, 128, 226);
}

/* Activities page */

.activities {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.activities h2 {
    text-align: center;
    margin: 30px;
}

.activity-type {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color:#868c4e;
    height: max-content;
    margin-bottom: 30px;
}

    /* SChedule  */
.schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: 10px 5px; }

    /* Image zoom effect */
.image:hover {
    transform: scale(1.1); 
}  

    /* Activity description */
.description {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 60%;
    margin: 10px 5px;
    padding: 0 30px;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

/* Contact-us page */

#contact-us-heading {
    margin: 30px;
    text-align: center;
}

.contact-us-box {
    display: flex;
    margin: 0 30px 30px;
}

    /* Contact-us details */
.contact-us-details h3 {
    padding-bottom: 20px;
}

.contact-us-details {
    width: 30%;
    margin: 0 30px 30px 30px;
    padding: 0 30px 30px 30px;
}

    /* Map */
.map {
    width: 60%;
    line-height: 150px;
}

iframe {
    width: 100%;
    height: 300px;
}

/* Footer */

footer {
    background: grey;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
}
.footer-box {
    display: flex;
    justify-content:center;
    align-items: center;
}

.footer-box span {
    text-transform:uppercase;
    font-size: 20px;
}

.social-networks {
    display: flex;
    list-style-type: none;
}

.social-networks a {
    color: blueviolet;
    padding: 30px;
    font-size: xx-large;
}